@media only screen and (max-width: $tab) {
  .till-mobile {
    display: block;
  }
}

@media only screen and (min-width: ($tab + 1)) and (max-width: $desk) {
  .tab-hide {
    display: block;
  }
}

@media only screen and (min-width: ($desk + 1)) {
  .tab-and-above {
    display: block;
  }
}