%visually-hidden {
  background: #000;
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin visually-hidden($extend: true) {

  @if $extend {
    @extend %visually-hidden;
  }
  @else {
    background: #000;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}


.invisible {
  @include visually-hidden($extend: false);
}
