@import "omega_mixins";

/* Fonts */
$light: "futura-pt",sans-serif;
$reg: "futura-pt",sans-serif;
$bold: "futura-pt",sans-serif;

$bodyFont: "futura-pt",sans-serif;
$header: "futura-pt",sans-serif;

// Media Queries

// @media all and (min-width: $mobile)
// @media all and (min-width: $mobileLandscape)
// Would only be used for enhancements to mobile-first or to target more specific mobile screen resolutions

// @media all and (max-width: $mobile-only)
// Used to target ONLY resolutions less than tablet, so mobile only. This would prevent the need to remove/override styles that were not needed on tablet/desktop resolutions.
//
// @media all and (min-width: $mobilePortrait) and (max-width: $below_mobileLandscape)
// @media all and (min-width: $mobileLandscape) and (max-width: $below_tablet)
// @media all and (min-width: $tablet) and (max-width: $below_desktop)
// @media all and (min-width: $desktop) and (max-width: $below_desktopWide)
// @media all and (min-width: $desktopWide)

// Used to target the specified breakpoint and anything that appears above it

// @media screen and (min-width: $tablet) and (max-width: $desktop)
// Used to target ONLY screens between the two breakpoints so styles will not apply to $desktop and beyond in this example.

$regionSpacing: 0; // will place a bottom border on layout regions

$mobile: 0px !default;

$mobilePortrait: 320px !default;
$below_mobilePortrait: 319px !default;

$mobileLandscape: 480px !default;
$below_mobileLandscape: 479px !default;

$mobile-only: 767px !default; // should be 1px less than $tablet


$tablet: 768px !default;
$below_tablet: 767px !default;

$desktop: 1024px !default;
$below_desktop: 1023px !default;

$desktopWide: 1220px !default;
$below_desktopWide: 1219px !default;

$primaryColor1: #047AAB !default; // good blue
$primaryColor2: #1E415F !default; // darker blue
$primaryColor3: #FAFAFA !default; // almost white
$primaryColor4: #1A1A1A !default; // almost black
$primaryColor5: #5A5A5A !default; // nice gray


$siteTitleColor: rgba($primaryColor1, 1) !default;
$siteTitleHoverColor: rgba($primaryColor1, 0.85) !default;
$siteSloganColor: #777 !default;

$taxonomy-term--background: $primaryColor1 !default;
$taxonomy-term--font-color: $primaryColor3 !default;
$taxonomy-term--border: 1px solid darken($primaryColor1, 35%) !default;

$taxonomy-term--hover--background: darken($primaryColor1, 10%) !default;
$taxonomy-term--hover--font-color: $primaryColor3 !default;
$taxonomy-term--hover--border: 1px solid darken($primaryColor1, 50%) !default;



$menuitemBg: $primaryColor1 !default;
$menuitemColor: $primaryColor2 !default;