@import "omega_mixins";
  
// Basic Color Variables 
$primaryColor1: #3A3A3A;
$primaryColor2: #5A5A5A;
$primaryColor3: #CCCCCC;
$primaryColor4: #1A1A1A;
$primaryColor5: #9A9A9A;
$mainMenuBgColor: #9A9A9A;
$mainMenuFontColor: #1A1A1A;
$mainMenuBorderColor: #1A1A1A;
$buttonBgColor: #9A9A9A;
$buttonFontColor: #1A1A1A;
$buttonBorderColor: #1A1A1A;

// Basic Font Variables
$defaultHeaderFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$defaultBodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
