// Default Variable Import
//@import "omega-style-vars", "omega-default-style-vars";

@import "compass";
@import "breakpoint";

// Import default variables and icon font.
@import "variables/default.scss";
@import "variables/icons.scss";

@import "generic/normalize.scss";
@import "generic/invisible.scss";
@import "generic/mouse-active.scss";
@import "generic/hide.scss";
@import "generic/grids.scss";


// Import boostrap and font-awesome.
// @import "bootstrap";
@import "font-awesome";


// Import base styling.
@import "base/navigation.scss";
@import "base/mixes.scss";

// Import element styling.
@import "elements/html-elements.scss";
@import "elements/forms.scss";
@import "elements/main-menus.scss";
@import "elements/messages.scss";
@import "elements/pagers.scss";
@import "elements/tabs.scss";
@import "elements/taxonomy-terms.scss";

// Import components.
@import "components/newsletter.scss";
@import "components/mkt_posts.scss";
@import "components/teasers.scss";
@import "components/nodes.scss";



/* SAMPLE SCSS FILE CONTENTS */

body {
	font-family: $custom_font;
	overflow-x: hidden;
	word-break: break-word;
}

::selection {
  color: #fff;
  background: $main;
}

.row {
	margin: 0;
}

.container {
	max-width: 1379px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#block-rocket-path-theme-local-tasks {
	clear: both;
	margin: 40px auto;
	text-align: center;
	// z-index: 100;
  position: relative;
}

//Header Region

.l-header {
	@include pie-clearfix;
	position: relative;
	border-bottom: 1px solid $grey2;

	.path-frontpage &,
	.path-taxonomy & {
		border: 0;
	}

	.header-wrapper {
		@extend .container;
	}

	.burger-wrapper {
    width: 33.3%;
    padding: 0 15px;
    float: right;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    z-index: 11;

    #mobile-menu {
      font-size: 0px;
      padding: 2.5px 0;
      float: right;
      text-decoration: none;
      width: 25px;
      height: 25px;
      display: block;
      margin-right: 13px;

      @include breakpoint($desk) {
        display: none;
      }

      .line {
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 7px;
        background: $black;
      }
    }
  }

  .header-wrapper {
  	z-index: 10;
  	position: relative;
  	@include pie-clearfix;
	  text-align: center;
	  // padding: 15px 0 10px;
  }

  .region--header {
    display: table;
    width: 100%;

    & > div,
    & > nav {
    	@include pie-clearfix;
  		display: inline-block;
  		vertical-align: middle;
      display: table-cell;
    }
  }

	#block-rocket-path-theme-branding {
	float: left;
	margin-right: 0;
	margin-left: 20px;

	@include breakpoint($desk)
	{
		display: inline-block;
    	width: auto;
    	z-index: 10;
    	clear: both;
    	margin-right: 43px;
    	float: unset;
	}
	}

	#site-branding {
    margin: 20px 0;

		#logo {
			max-width: 267px;
			float: none;
			margin: 0;

			img {
        width: 200px;
				height: auto;

				@include breakpoint($tab) {
					width:100%;
					max-width: 330px;
				}
			}
		}
	}

	.menu--main {
		li {
			margin: 0;
		}

		a {
			font-size: 19px;
			padding: 0 28px;
		}
	}

	.language-switcher-language-url {
		.links {
			list-style: none;
		}

		li {
			display: inline-block;
		}

		li.is-active {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: $body;
				widows: 29px;
				height: 1px;
				bottom: -4px;
			}
		}

		a {
			font-size: 15px;
			padding: 0 5px;
			text-transform: uppercase;
		}
	}

	#block-headeractions {
		@include pie-clearfix;
		margin-top: 5px;

		.mail,
		.weather,
		.phone {
			display: block;
			float: left;
			width: 32px;
			height: 32px;
			margin-right: 35px;
			font-size: 26px;
			cursor: pointer;
		}

		.mail {
			@extend .font-icon;
			@extend .icon-mail;
		}

		.weather {
			@extend .font-icon;
			@extend .icon-weather;
		}

		.phone {
			@extend .font-icon;
			@extend .icon-phone;
			font-size: 23px;
			padding-top: 2px;
		}
	}

	#block-kentrikeploegese,
	#block-headeractions,
	#block-languageswitcher
	{
		display: none;

		@include breakpoint($desk)
		{
			display: table-cell;
		}
	}

	.burger-wrapper
	{
		position: absolute;
		right: 0;
		padding: 0;

		#mobile-menu
		{
			width: 50px;
			margin-right: -5px;
			height: 30px;
		}
	}

	.region--header
	{
		.menu--main
		{
			display: none;
		}
	}

}

//Hero Banner

.hero-banner {
	text-align: center;

	.field__label {
		display: none;
	}

	.image-banner {
		width: 100%;
		height: 300px;
    position: relative;
    background-position: center;
	  background-size: cover;
		background-repeat: no-repeat;

		@include breakpoint($tab) {
			width: auto;
			height: 386px;
		}

		&:after {
			content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.4);
		}

		.hero-banner-inner {
			@include pie-clearfix;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    width: 100%;
	    z-index: 110;
	    padding: 0 5px;

	    .hero-banner-title {
				color: #FFFFFF;

				h1 {
				  font-weight: 400;
				  margin: 0;
				  line-height: 30px;
					font-size: 25px;

				  @include breakpoint($desk) {
			    	line-height: 46px;
						font-size: 30px;
					}
				}
	    }

	    .hero-banner-link a {
	    	line-height: 35px;
				font-size: 17px;
				color: #FFFFFF;
				border: 3px solid #fff;
				display: block;
				margin: 40px auto 0;
				max-width: 200px;

				@include breakpoint($desk) {
					max-width: 252px;
				}

				&:hover {
					text-decoration: none;
				}
	    }
		}
	}
}

//Footer

.footer {
	@include pie-clearfix;
	padding: 30px 20px;
	position: relative;
	background: $black;

	@include breakpoint($tab) {
		padding: 50px 20px;
	}

	.region--footer {
		@extend .container;
	}

	nav.navigation {

		ul {
			padding: 0;
			text-align: center;
			@include breakpoint($desk)
			{
				text-align: left;
			}
		}

		li {
			display: block;
			margin: 0;
			margin-bottom: 10px;
		}

		a {
			color: #fff;
			font-size: 14px;

			&.email {
				margin-top: 10px;
			}

			&.phone,
			&.email {
				position: relative;
				font-size: 18px;
				font-weight: 700;
				padding-left: 38px;
			}

			&.phone:before {
				@extend .font-icon;
				@extend .icon-phone;
				position: absolute;
				left: 0;
				top: 4px;
			}

			&.email:before {
				@extend .font-icon;
				@extend .icon-mail;
				position: absolute;
				left: 0;
				top: 4px;
				font-size: 14px;
			}
		}
	}

	.region--footer {
		@include pie-clearfix;

		& > nav,
		& > div {

			@include breakpoint($desk)
			{
				width: 33%;
				float: left;
			}
		}
	}

	#block-footermajorlinks {
		text-align: center;
		@include breakpoint($desk)
		{
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
		}

		h3 {
			color: #fff;
			font-size: 21px;
			padding: 20px 0;
			display: block;
			margin: 0;

			&:nth-child(1) {
				color: $pink;
			}

			&:nth-child(2) {
				color: $purple;
			}
		}
	}
}

//Bottom Footer

.footer-bottom {
	@include pie-clearfix;
	padding: 25px 0;
	background: $black;
	margin-top: 5px;

	.region-footer-bottom {
		@include pie-clearfix;
		margin: 0 auto;
		@extend .container;

		& > div {
			width: 33%;
			float: left;
			text-align: center;
		}
	}

	#block-footerlogo{
		margin-top: 14px;

		& > div {
			max-width: 190px;
		}
	}

  #block-footersocial {
  	text-align: center;

  	h2 {
  		margin: 0;
  		font-size: 16px;
  		color: #fff;
  		line-height: 24px;
  		margin-bottom: 14px;
  	}

	  .field--name-body {
	    clear: both;
	    margin-top: 15px;

	    a {
	      display: inline-block;
	      margin: 0 7px;
	      text-align: center;
	      position: relative;
	      overflow: hidden;
	      color: transparent;
	      font-size: 0;
	      width: 36px;
	      height: 36px;
	      position: relative;

	      &.facebook:before,
	      &.twitter:before,
	      &.linkedin:before,
	      &.instagram:before {
	        @extend .font-icon;
	      	font-size: 36px;
	        color: #fff;
	        position: absolute;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%,-50%);
	      }

	      &.facebook:before {
	        @extend .icon-facebook;
	      }

	      &.instagram:before {
	        @extend .icon-instagram;
	      }

	      &.twitter:before {
	        @extend .icon-twitter;
	      }

	      &.linkedin:before {
	        @extend .icon-linkedin;
	      }

	      &:hover,
	      &:focus {
	        outline: none;

	        &.facebook:before,
	        &.instagram:before,
	        &.twitter:before,
	        &.linkedin:before {
	          color: $cyan;
	          text-decoration: none;
	        }
	      }
	    }
	  }
	}
}

.recent-articles {
	@include pie-clearfix;
	@extend .grid;
	// @extend .grid--gutter;

	& > .attachment-before {
		@extend .grid__item;
		// @extend .grid__item--gutter;
		@extend .grid__item--md-5-12;
		@include breakpoint($tab) {
			padding-right: 5%;
			border-right: 1px solid #000000;
		}
	}

	& > .view-content {
		@extend .grid;
		// @extend .grid--gutter;
		// @extend .grid__item--gutter;
		@extend .grid__item--md-7-12;
		@include breakpoint($tab)
		{
			padding-left: 20px;
		}

		.views-row {
      @extend .grid__item;
      // @extend .grid__item--gutter;
      @extend .grid__item--1-2;
      @extend .grid__item--md-1-2;
			margin-bottom: 20px;
			float: none;
      text-align: center;

      .article-teaser {
        padding-left: 20px;
        float: right;
      }
		}
	}
}

#block-views-block-related-articles-block-1 {
  background: #F2F2F2;
  padding: 35px 0 95px;

  & > h2 {
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    position: relative;
    margin-bottom: 45px;

    &:after {
      content: "";
      margin: 20px auto 0;
      width: 93px;
      height: 1px;
      background: #000;
      display: block;
    }
  }

  .view-content {
    @extend .grid;
    @extend .grid--gutter;
    max-width: 710px;
    margin: 0 auto;

    .views-row {
      @extend .grid__item;
      @extend .grid__item--gutter;
      @extend .grid__item--md-1-2;
    }

  }
}

#drupal-live-announce {
	display: none;
}

#name-slogan {
  display: none;
}
