.marketing-post-wrapper {
  position: relative;

  .image-wrapper {
    width: 100%;
    display: inline-block;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #000000;
      opacity: 0.4;
      z-index: 0;
    }

    img {
      width: 100%;
    }
  }

  .mkt-info {
    font-weight: bold;
    color: #fff;
    pointer-events: none;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1;

    .mkt-info-container {
      vertical-align: middle;
      display: table-cell;
    }

    h2 {
      font-size: 23px;
      line-height: 1.3em;
      font-weight: 700;
      font-style: italic;
      margin: 0;

      @include breakpoint($desk)
      {
        font-size: 34px;
        line-height: 55px;
      }
    }

    h3 {
      @extend .letter-spacing;
      margin: 0;
      font-size: 15px;
      line-height: 22px;
    }
  }
}


//Only for second column marketing posts
.hero-marketing-posts > .view-content
{
  .marketing-post-wrapper
  {
    position: relative;
    height: 168px;
    overflow: hidden;

    @include breakpoint($desk)
    {
      height: auto;
    }

    .field--name-field-marketing-post-image
    {
      position: absolute;
      top: 0;
      bottom: 0;

      @include breakpoint($desk)
      {
        position: unset;
      }

      .field__item
      {
        height: 100%;

        img
        {
          height: 100%;
        }
      }
    }
  }

  .views-row
  {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 5px;

    @include breakpoint($desk)
    {
      padding-right: 0;
      width: 100%;
    }
  }

  .views-row:last-child
  {
    padding-right: 0;
    padding-left: 5px;

    @include breakpoint($desk)
    {
      padding-left: 0;
    }
  }
}

.views-field-field-marketing-post {
  .field--taxonomy-terms {
    border: 0;
    padding: 0;
    margin: 0;

    .field-item--taxonomy-term {
      float: none;
    }

    .taxonomy-term {
      @extend .letter-spacing;
      background: transparent;
      border: 0;
      font-weight: 300;
      font-size: 12px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.paragraph--type--contact {
  padding: 30px 0;

  .marketing-segment {
    @extend .container;
    @include pie-clearfix;
    display: table;
  }

  .field--name-field-marketing-post-title {
    font-size: 33px;
    line-height: 33px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    font-style: italic;
    color: #000;
    padding-left: 40px;

    & > div {
      max-width: 324px;
      text-align: left;
    }
  }

  .field--name-field-cta {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;

    & > div {
      float: right;
      margin-right: 20px;
    }

    a {
      line-height: 54px;
      font-size: 23px;
      display: block;
      background: #fff;
      min-width: 345px;
      text-align: center;
    }
  }
}

.paragraph--type--featured-article {
  padding: 40px 0;
  width: 100%;
  display: block;
  text-decoration: none;
  opacity: 1;
  color: #fff;

  .field--taxonomy-terms {
    margin-bottom: 30px;

    .taxonomy-term {
      color: #fff;
    }
  }

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;
  }

  .marketing-segment {
    @extend .container;
    text-align: center;
  }

  .field--name-field-marketing-post-title {
    font-weight: 700;
    text-align: center;
    font-size: 53px;
    line-height: 62px;
    color: #fff;
    margin-bottom: 20px;
    display: block;
  }

  .field--name-field-subtitle {
    text-align: center;
    font-size: 33px;
    line-height: 39px;
    color: #fff;
  }
}

.paragraph--type--testimonials {
  max-width: 345px;
  margin: 0 auto;

  .field--name-field-testimonial-body {
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .field--name-field-testimonial-name {
    @extend .letter-spacing;
    font-size: 12px;
  }
}


.paragraph--type--services {
  .field--name-field-service-title {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0 40px;
    cursor: pointer;
    position: relative;

    &:before {
      @extend .font-icon;
      @extend .icon-down-arrow;
      position: absolute;
      right: 0;
      top: 20px;
      font-size: 20px;
    }
  }

  .field--name-field-service-body {
    padding: 0 20px;
    display: none;
  }

  &.opened {
    .field--name-field-service-title:before {
      transform: rotate(180deg);
    }
    .field--name-field-service-body {
      display: block;
    }
  }
}

.paragraph--type--section-title {
  text-align: center;
  font-size: 23px;
  line-height: 27px;
  position: relative;

  &:after {
    content: "";
    margin: 20px auto 0;
    width: 93px;
    height: 1px;
    background: #000;
    display: block;
  }
}

.paragraph--type--promotion {
  @include pie-clearfix;
  background: $cyan;
  min-height: 305px;
  position: relative;

  .promotion-wrapper {
    width: calc(100% - 595px);
    float: left;
    text-align: center;
    padding-top: 50px;
  }

  .field--name-field-promotion-title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  .field--name-field-promotion-body {
    color: #333;
    max-width: 450px;
    margin: 0 auto;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .field--name-field-promotion-cta a {
    @extend .cta-simple;
  }

  .field--name-field-promotion-image {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.paragraph--type--team-member {
  text-align: center;

  .field--name-field-subtitle {
    @extend .letter-spacing;
    margin: 20px auto 5px;
    font-size: 12px;
    font-weight: 300;
  }

  .field--name-field-marketing-post-title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .field--name-field-description {
    font-size: 15px;
    color: #828282;
  }
}

.paragraph--type--grid {
  &.contain-grid {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.marketing-grid-2 .field--name-field-grid-item > .field__items {
  @include pie-clearfix;
  @extend .grid;
  @extend .grid--gutter;

  & > .field__item {
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-2;
  }
}

.marketing-grid-3 .field--name-field-grid-item > .field__items {
  @include pie-clearfix;
  @extend .grid;
  @extend .grid--gutter;

  & > .field__item {
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-3;
  }
}

.marketing-grid-4 .field--name-field-grid-item > .field__items {
  @include pie-clearfix;
  @extend .grid;
  @extend .grid--gutter;

  & > .field__item {
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-4;
  }
}

.marketing-grid-5 .field--name-field-grid-item > .field__items {
  @include pie-clearfix;
  @extend .grid;
  @extend .grid--gutter;

  & > .field__item {
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-5;
  }
}

.marketing-grid-6 .field--name-field-grid-item > .field__items {
  @include pie-clearfix;
  @extend .grid;
  @extend .grid--gutter;

  & > .field__item {
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-6;
  }
}
