.region--newsletter {
  display: table;
  width: 100%;
  padding: 0;
  background: #F7F7F7;
  color: #221F22;
  padding: 25px 0;
}

.newsletter-block {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;

  h2 {
		color: #221F22;
		text-align: center;
		margin: 0;
		padding-bottom: 10px;
		line-height: 19px;
    font-size: 19px;

		@include breakpoint($desk) {
			text-align: left;
			line-height: 25px;
		  font-size: 25px;
		}
  }

  .webform-submission-newsletter-form {
  	text-align: center;

  	label[for=edit-subscribe-to-our-newsletter] {
			line-height: 15px;
			font-size: 15px;
			color: #C0C0C0;
			font-weight: 400;
			margin: 0;

			@include breakpoint($desk) {
		  	width: auto;
		  	float: left;
		  	line-height: 29px;
		  	line-height: 19px;
			  font-size: 19px;
		  }
  	}

  	.form-type-email {
  		margin: 0;
  		width: 100%;
  		max-width: 437px;
  		margin: 0 auto;

  		@include breakpoint($desk) {
  		  margin-left: 100px;
        display: inline-block;
		  }

  		label {
  			display: none;
  		}

  		.form-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        line-height: 29px;
				font-size: 19px;
				color: #706F6F;
      }
      .form-email::-moz-placeholder { /* Firefox 19+ */
        line-height: 29px;
				font-size: 19px;
				color: #706F6F;
      }
      .form-email:-ms-input-placeholder { /* IE 10+ */
        line-height: 29px;
				font-size: 19px;
				color: #706F6F;
      }
      .form-email:-moz-placeholder { /* Firefox 18- */
        line-height: 29px;
				font-size: 19px;
				color: #706F6F;
      }  

      input[type="email"] {
  			background: transparent;
		    box-shadow: none;
		    border: 0;
		    border-bottom: 1px solid #828282;
		    padding-bottom: 10px;
		    width: 100%;
		    margin: 20px 0;

		    @include breakpoint($desk) {
		    	margin: 0;
		    }
  		}
  	}

    .form-actions {
    	margin: 0;

  		@include breakpoint($desk) {
		  	width: auto;
		  	float: right;
		  }

  		input[type="submit"] {
  			border: 1px solid #000;
		    line-height: 40px;
		    font-size: 20px;
		    color: #221F22;
		    box-shadow: none;
		    margin: 0;
		    padding: 0 40px;
		    background: transparent;
		    border-radius: 0;

  			&:hover {
					background: transparent;
  			}
  		}
    }
  }
}


