#block-rocket-path-theme-page-title {
  text-align: center;
}

.node--type-article {

  #block-rocket-path-theme-content {
    max-width: 1196px;
    margin: 0 auto;
  }

  .field--taxonomy-terms {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    text-align: center;

    .field-item--taxonomy-term {
      float: none;
    }

    .taxonomy-term {
      @extend .letter-spacing;
      background: transparent;
      border: 0;
      font-weight: 300;
      font-size: 17px;
      line-height: 20px;
      color: #000000;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }
  }

  h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 62px;
  }

  .content-location {
    margin: 144px 0 100px;
  }
}

.node--type-article {

  .main-container {
    max-width: 1198px;
    margin: 0 auto;
  }

  .content-main {
    @include pie-clearfix;
    @extend .grid;
    @extend .grid--gutter;
  }

  .left-side{
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-2;
    padding-right: 35px;
  }

  .right-side{
    @extend .grid__item;
    @extend .grid__item--gutter;
    @extend .grid__item--md-1-2;
    padding-left: 35px;

    .field__item {
      margin-bottom: 10px;
    }
  }

  .field--name-field-gallery-image {
    .field__item {
      margin-bottom: 10px;
    }
  }

  .share-wrapper {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 100px;

    h2 {
      font-size: 19px;
      position: relative;
      margin-bottom: 20px;

      &:before,
      &:after {
        content: "";
        top: 8px;
        position: absolute;
        display: block;
        width: 93px;
        height: 1px;
        background: #000;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }
}

.node--type-landing-page {

  .l-header {
    border: 0;
  }

  .l-header.lp-image-banner {
    height: 385px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(42, 43, 49, 0.5);
      z-index: 0;
    }
  }


  .lp-info {
    text-align: center;
    color: #fff;
    z-index: 1;

    h1 {
      font-size: 47px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
      font-style: italic;
      color: #fff;
    }

    h2 {
      @extend .letter-spacing;
      font-size: 17px;
      margin: 0;
      margin-bottom: 65px;
    }
  }

  .lp-color-banner .lp-info {
    background: $teal;
    color: #333;

    h1 {
      padding-top: 60px;
      margin-bottom: 30px;
      color: #000;
    }

    h2 {
      margin-bottom: 40px;
    }

    .lp-cta {
      @extend .cta-pink;
      background: #fff;
      border: 3px solid #fff;
      border-bottom: 0;
    }
  }

  .lp-image-banner .lp-info {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .lp-cta {
      @extend .cta-pink;
    }
  }

  #block-rocket-path-theme-content .field--name-body {
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto 60px;

    .align-right {
      margin-left: 20%;
    }

  }

  .field--name-field-marketing-post > .field__items {
    & > .field__item {
      margin-bottom: 40px;
    }
  }
}
