.article-teaser,
.article-highlighted {
  .field--taxonomy-terms {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 30px;

    .field-item--taxonomy-term {
      float: none;
    }

    .taxonomy-term {
      @extend .letter-spacing;
      background: transparent;
      font-weight: 300;
      border: 0;
      font-size: 12px;
      color: #000000;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .info {
    text-align: center;
  }

  h2 {
    font-size: 15px;
    margin: 6px auto 0;
    font-weight: 700;
    max-width: 345px;

    @include breakpoint($tab) {
      font-size: 18px;
    }

    @include breakpoint($desk) {
      font-size: 23px;
    }
  }

  .description {
    display: block;
    margin-top: 30px;
    text-align: left;
    padding: 0 30px;
  }
}

.article-teaser {
  min-height: 240px;
}

.article-highlighted {
}

.listing-teaser {
  @extend .grid;
  @extend .grid--gutter;
  margin-bottom: 60px;

  .image-wrapper,
  .info-wrapper,
  .description-wrapper {
    @extend .grid__item;
    // @extend .grid__item--gutter;
    @extend .grid__item--md-1-3;
    min-height: 279px;

  }

  .image-wrapper {
    display: table;
    & > a {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .description-wrapper {
    padding-left: 50px;
    position: relative;

    .description {
      margin-bottom: 38px;
    }

    .cta-simple {
      position: absolute;
      bottom: 0;
    }
  }

  .image-wrapper,
  .info-wrapper {
    border-right: 1px solid $grey2;
    padding-right: 30px;
    position: relative;
  }

  .meta-info-wrapper {
    position: absolute;
    bottom: 0;
  }

  .info-wrapper > div {
    float: left;
    clear: both;
    // padding-left: 44px;
    // margin-bottom: 10px;
  }

  .meta-info-wrapper > div {
    float: left;
    clear: both;
    padding-left: 44px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    padding-left: 43px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .price {
    display: block;
    padding-left: 52px;
    min-width: 280px;
    background: #000000;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  .location > div:before,
  .phone > div:before,
  .email > div:before {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 21px;
  }

  .location > div {
    position: relative;
    padding-left: 35px;

    &:before {
      @extend .font-icon;
      @extend .icon-location;
      // color: #219653;
    }
  }

  .phone > div {
    position: relative;
    padding-left: 35px;

    &:before {
      @extend .font-icon;
      @extend .icon-phone;
    }
  }

  .email > div {
    position: relative;
    padding-left: 35px;

    &:before {
      @extend .font-icon;
      @extend .icon-mail;
    }
  }

  .book {
    position: relative;
    margin-left: 43px;
  }
}

.listing-promotion {
  margin-bottom: 60px;

  .info-wrapper {
    @include pie-clearfix;
  }

  .info-wrapper > div {
    float: left;
    clear: both;
  }

  h2 {
    margin: 0;
    font-size: 19px;
    margin: 20px 0;
    font-weight: 700;
  }

  .location > div:before,
  .phone > div:before,
  .email > div:before {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 21px;
  }

  .location > div {
    position: relative;
    padding-left: 31px;

    &:before {
      @extend .font-icon;
      @extend .icon-location;
    }
  }

  .phone > div {
    position: relative;
    padding-left: 31px;

    &:before {
      @extend .font-icon;
      @extend .icon-phone;
    }
  }

  .email > div {
    position: relative;
    padding-left: 31px;

    &:before {
      @extend .font-icon;
      @extend .icon-mail;
    }
  }
}
