// Font variables.
@import url("https://use.typekit.net/ouf7nra.css");

$custom_font: 'effra', sans-serif;
$custom_font_serif: $custom_font;
$line-height-base: 1.25;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;
$font-size-h1: 30px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$headings-font-weight: 700;

// Other variables
$border-radius-base: 0;
$brand-primary: #000;
$text-color: #000;

// Breakpoint variables.
$mob: 320px;
$tab: 720px;
$tablet: 720px;
$desk: 980px;
$desktop: 980px;
$wide: 1440px;

// Grid variables.
$container-tablet: 720px;
$container-desktop: 1000px;

// Sidebar
$sidebar_tab: 150px;
$sidebar_desk: 210px;

$red: #e72a2a;
$deep-red: #C90A16;
$light-grey: #F2F2F2;
$grey: #DADADA;
$border-yellow: #ED9D19;
$orange: #ED9D19;
$dark-grey: #221F22;
$title: #4F4F4F;
$logo: #A6A6A6;

// Grey Colors
$grey1: #909090;
$grey2: #BDBDBD;
$grey3: #828282;
$grey4: #4F4F4F;

// Colors
$blue: #4EAFDE;
$black: #3B3B3B;
$green: #219653;
$cyan: #E4F1F5;
$teal: #C8DBD5;
$pink: #FCE3E3;
$purple: #9A9FB2;

$label: $grey4;
$body: $grey3;

$main: $blue;
$base: $black;
$neutral: $light-grey;
