@font-face {
  font-family: "myfont";
  src: url('../../fonticon/fonts/myfont.eot');
  src: url('../../fonticon/fonts/myfont.eot?#iefix') format('eot'),
    url('../../fonticon/fonts/myfont.woff2') format('woff2'),
    url('../../fonticon/fonts/myfont.woff') format('woff'),
    url('../../fonticon/fonts/myfont.ttf') format('truetype'),
    url('../../fonticon/fonts/myfont.svg#myfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-icon:before {
  display: inline-block;
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.font-icon-2x { font-size: 2em; }
.font-icon-3x { font-size: 3em; }
.font-icon-4x { font-size: 4em; }
.font-icon-5x { font-size: 5em; }
.font-icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-close:before { content: "\EA01" }
.icon-down-arrow:before { content: "\EA02" }
.icon-facebook:before { content: "\EA03" }
.icon-instagram:before { content: "\EA04" }
.icon-linkedin:before { content: "\EA05" }
.icon-location:before { content: "\EA06" }
.icon-mail:before { content: "\EA07" }
.icon-phone:before { content: "\EA08" }
.icon-right-arrow:before { content: "\EA09" }
.icon-twitter:before { content: "\EA0A" }
.icon-weather:before { content: "\EA0B" }
