// @import "../omega-style-vars", "../omega-default-style-vars";

input[type="text"],
input[type="password"],
input[type="email"]
input[type="number"],
input.form-number,
input.form-email,
input.form-date,
button,
textarea {
  box-shadow: 0 0 0 1px $grey2;
  border: 0;
  background: transparent;
  font-size: 14px;
  padding: 10px 40px 10px 15px;
  width: 100%;
  resize: none;

  &:hover,
  &:focus {
    outline: none;
    border: 0;

    &.error {
      border: 1px solid #e72a2a;
      color: #e72a2a;
      box-shadow: none;
    }
  }
}

.selector {
  border: 1px solid #cdcdcd;
  background: transparent;
  font-size: 14px;
  padding: 10px 40px 10px 15px;
  width: 100%;
  resize: none;
  width: 100%;
  resize: none;
  text-align: left;
  position: relative;
  cursor: pointer;

  &:before {
    // @extend .font-icon;
    // @extend .icon-keyboard_arrow_down;
    font-size: 16px;
    color: $base;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  select {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

input[type="submit"] {
  background: $main;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px;
  line-height: 40px;
  border: 0;
  outline: none;


  &:hover {
    background: $base;
    color: #fff;
  }
}

.form-type-checkbox label {
  padding-left: 5px;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}
input[type="checkbox"] {
    margin: 4px 15px 0;
}

.form-item .description {
  margin-top: 5px;
  font-size: 12px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + div,
input[type="radio"] + label {
  position: relative;

  &:before {
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 4px solid $base;
    position: absolute;
    top: -2px;
    left: 0;
  }
}

input[type="radio"] + div {
  &:before {
    width: 10px;
    height: 10px;
    font-size: 8px;
    line-height: 10px;
    top: 6px;
  }
}

.form-type-radio label {
  padding-left: 20px;
}

input[type="radio"]:checked + div,
input[type="radio"]:checked + label {
  &:before {
    background: $base;
  }
}

.form-item {
  margin-bottom: 20px;

  label {
    color: $label;
    font-size: 17px;
    line-height: 24px;

    &.error {
      color: #e72a2a;
      margin-top: 5px;
    }
  }
}

.form-actions {
  clear: both;
}

// Contact Form

.node--webform--full {
  .field--name-body {
    text-align: center;
    margin-bottom: 60px;
  }
}

.webform-client-form {
  @include pie-clearfix;
  max-width: 840px;
  margin: 0 auto;

  .form-item {
    width: 100%;

    @include breakpoint($tab) {
      width: 50%;
      float: left;
      display: inline-block;
      padding: 0 10px;
    }

    &.webform-component-textarea {
      @include breakpoint($tab) {
        width: 100%;
      }
    }
  }

  .form-submit {
    display: block;
    margin: 10px auto 0;
    font-weight: 700;
  }

}

.search-block-form {
  position: relative;
  top: -4px;
  display: none;

  @include breakpoint($tab) {
    display: block;
  }

  input[type="text"] {
    background: transparent;
    padding: 0 20px;
    line-height: 40px;
    border: 0;
    box-shadow: none;
    font-size: 0;
    line-height: 20px;
    padding: 0;
    width: 16px;

    @include breakpoint($tab) {
      width: 50px;
    }
  }

  .form-item-search-block-form {
    position: relative;
    cursor: pointer;

    &:hover {
      &:before {
        color: $main;
      }
    }

    &:before {
      // @extend .font-icon;
      // @extend .icon-search;
      color: #fff;
      font-size: 16px;
      top: 16px;
      position: absolute;
      line-height: 0;
      right: 0;

       @include breakpoint($tab) {
         right: 15px;
       }
    }
  }

  input[type="submit"] {
    display: none;
  }
}


form {
  max-width: 960px;
  margin: auto;
  padding: 0 20px;

  @include breakpoint($desk)
  {
    padding: 0;
  }

  .form-title
  {
    font-size: 17px;
    font-weight: bold;
    text-align: center;

    @include breakpoint($desk)
    {
      font-size: 30px;
    }
  }

  .form-subtitle
  {
    font-size: 12px;
    text-align: center;
    @include breakpoint($desk)
    {
      font-size: 23px;
    }
  }

  & > .form-item {

    @include breakpoint($desk)
    {
      width: 50%;
      display: inline-block;
      height: 70px;
      padding: 0 10px;
      float: left;
    }

    label
    {
      display: block;
      font-weight: normal;
    }
  }
}

.select2-dropdown .select2-search.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: unset;
  background: #C4C4C4;
  font-size: 15px;
  font-weight: bold;
  @include breakpoint($desk)
  {
    font-size: 20px;
  }
}

.select2-container--default .select2-results>.select2-results__options .select2-results__option {
  font-size: 15px;
  font-weight: bold;
  @include breakpoint($desk)
  {
    font-size: 20px;
  }
}

.select2-container--default .select2-selection--single {
  box-shadow: none;
  border: 1px solid $grey2;
  border-radius: 0;
  padding: 8px 40px 8px 15px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  @include breakpoint($desk)
  {
    font-size: 20px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: #333 transparent transparent transparent;
}

.webform-submission-plan-your-event-form .form-actions input
{
  background: $teal;
}
