
/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  //-webkit-text-size-adjust: 100%;
}

body {
  font-family: $custom_font;
  font-size: 100%;
  max-width: 100%;
  -webkit-text-size-adjust:none;
}
// change the body spacing for the vertical toolbar from margin to padding
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0;
  padding-left: 15rem;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.85;
    text-decoration: none;
    color: initial;
  }
}

details {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
  color: $body;
}

strong {
  color: #333;
  line-height: 27px;
}

blockquote {
  color: #828282;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  border: 0;
  text-align: center;

  p {
    color: #828282;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {

  }
}

ol {

  li {

  }
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
  font-size: 30px;
  color: #000;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
