// @import "../omega-style-vars", "../omega-default-style-vars";

nav.navigation {
  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 3px 5px;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
