// @import "../omega-style-vars", "../omega-default-style-vars";

// move the "bar" to the left of the messages inside the box
// rather than using box shadow
.messages--warning {
  box-shadow: none;
  border-left: 8px solid #E09600;
}
.messages--status {
  box-shadow: none;
  border-left: 8px solid #77B259;
}
.messages--error {
  box-shadow: none;
  border-left: 8px solid #E62600;
}
