// @import "../omega-style-vars", "../omega-default-style-vars";


#site-branding {

    #logo {


    }


  }
#site-branding {
  position: relative;
  margin-top: 20px;

  .site-logo {

  }

  .site-name-slogan {
    padding-top: 0;
  }



  #logo {
    float: left;
    max-width: 90px;
    height: auto;
    margin-right: 25px;

    @include omegaTransition(all, 0.25s, ease-in-out);
    //@include omegaCorners(10px);

    //background: rgba($primaryColor3, 1);

    &:hover {
      //background: rgba($primaryColor2, 1);
    }

    a {
      display: block;
    }

    img {
      display: block;
      //@include omegaCorners(10px);
    }

  }

  &:hover {

    #logo {
      //background: rgba($primaryColor2, 1);
    }
  }



  .site-name {
    font-size: 48px;
    //line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.075em;
    font-family: $bodyFont;
    color: $siteTitleColor;

    a {
      @include omegaTransition(all, 0.25s, ease-in-out);
      //opacity: .5;
      text-decoration: none;
      color: $siteTitleColor;

      &:hover {
        //opacity: 1;
        color: $siteTitleHoverColor;
      }
    }
  }
  .site-slogan {
    color: $siteSloganColor;
    font-variant: small-caps;
  }
}
