.path-taxonomy {

  .main-container {
    max-width: 1233px;
    margin: 0 auto;
  }

  h1 {
    font-size: 47px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
  }

  .view-taxonomy-term,
  .view-article-taxonomy-term {

    & > .view-header {
     .field--name-description {
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
        text-align: center;

        p {
          color: #000;
        }
      }
    }

    & > .view-content {
      padding-top: 70px;
    }
  }
}

.taxonomy--article-category {

  .sticky-article-block {
    @include pie-clearfix;
    padding-top: 60px;

    & > .attachment-before {
      float: left;
      width: 45%;
      padding-right: 30px;
      border-right: 1px solid #000000;
    }

    & > .view-content {
      float: left;
      width: 55%;
      padding-left: 30px;

      @include pie-clearfix;
      @extend .grid;
      @extend .grid--gutter;

      .views-row {
        margin-bottom: 20px;
        @extend .grid__item;
        @extend .grid__item--gutter;
        @extend .grid__item--md-1-2;
      }
    }
  }

  .view-taxonomy-term,
  .view-article-taxonomy-term {
    & > .view-content {
      @include pie-clearfix;
      @extend .grid;
      @extend .grid--gutter;

      .views-row {
        margin-bottom: 20px;
        min-height: 350px;
        @extend .grid__item;
        @extend .grid__item--gutter;
        @extend .grid__item--md-1-4;
      }
    }
  }
}

.taxonomy--listing-category {
  // h1 {
  //   // margin-bottom:
  // }
}
