.letter-spacing {
  letter-spacing: 3px;
}

.cta-pink {
  background: $pink;
  font-size: 23px;
  line-height: 48px;
  border: 3px solid $pink;
  color: $black;
  width: 345px;

  &:hover {
    background: transparent;
    color: $black;
    text-decoration: none;
  }
}

.cta-green {
  background: $green;
  color: #fff;
  line-height: 38px;
  padding: 0 89px 0 18px;
  font-size: 17px;

  &:before {
    @extend .font-icon;
    @extend .icon-right-arrow;
    position: absolute;
    top: 11px;
    right: 5px;
  }
}

.cta-grey {
  background: $grey1;
  color: $black;
  line-height: 38px;
  min-width: 138px;
}

.cta-simple {
  background: transparent;
  color: $black;
  line-height: 31px;
  padding: 0 89px 0 18px;
  font-size: 17px;
  border: 1px solid $black;
  position: relative;

  &:before {
    @extend .font-icon;
    @extend .icon-right-arrow;
    position: absolute;
    top: 6px;
    right: 5px;
  }
}

.block-title {
  text-align: center;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 38px;
  position: relative;
  padding-bottom: 14px;

  &:after {
    content: "";
    width: 93px;
    height: 1px;
    display: block;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
