#block-kentrikeploegese {
  position: initial;
}


.navbar-we-mega-menu {
  position: initial;
  margin: 0;
  background: none;

  .we-mega-menu-submenu > .we-mega-menu-submenu-inner {
    max-width: 1195px;
    max-width: 1378px;
    margin: 0 auto;
  }

  .we-mega-menu-ul .dropdown-menu>a:before {
    background: none;
  }

  .we-mega-menu-ul > .we-mega-menu-li {
    border: 0;
  }

  .we-mega-menu-ul > .we-mega-menu-li.dropdown-menu {
    border: 0;

    &:hover {
      background: #000;
      color: #fff;

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .we-mega-menu-ul.nav-tabs > li > a,
  .we-mega-menu-ul.nav-tabs > li > a:focus,
  .we-mega-menu-ul.nav-tabs > li > a:hover {
    @extend .letter-spacing;
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 17px;
    color: #000;
    font-family: $custom_font;
    font-weight: 400;
    background: none;
  }

  .we-mega-menu-ul.nav-tabs > li.active > a:hover {
    // background: #000;
    color: #fff;
    opacity: 1;
    font-weight: 400;
  }

  .we-mega-menu-ul {
    position: initial;

    & > .dropdown-menu:hover,
    & > .dropdown-menu:focus {
      position: initial;
      border-radius: 0;
    }

    & > .dropdown-menu > .we-mega-menu-submenu {
      z-index: 499;
      position: absolute;
      width: 100% !important;
      background: #000;
      color: #fff;
      border: 0;
      padding: 48px 0;

      &:after,
      &:before {
        position: absolute;
        display: block;
        background: #000;
        width: 200%;
        height: 100%;
        content: '';
        left: -200%;
        top: 0;
      }

      &:after {
        left: auto;
        right: -200%;
      }
    }

    & > .dropdown-menu > .we-mega-menu-submenu > .we-mega-menu-submenu-inner > .we-mega-menu-row > .we-mega-menu-col {
      border-right: 1px solid $grey2;

      &:last-child {
        border: 0;
      }
    }

    .we-mega-menu-submenu {
      background: #000;
    }

  }


  .we-mega-menu-submenu li.we-mega-menu-li a {
    color: #fff;
    border: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 15px;
    font-family: $custom_font;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    @extend .letter-spacing;
    border: 0;
    font-family: $custom_font;
    font-weight: 400;
  }

  .we-mega-menu-group > .we-megamenu-nolink {
    @extend .letter-spacing;
    margin-bottom: 20px;
    display: block;
    font-weight: 700;
  }

  .view-articles .view-content {
    @include pie-clearfix;
    @extend .grid;
    @extend .grid--gutter;

    .views-row {
      text-align: center;
      @extend .grid__item;
      @extend .grid__item--gutter;
      @extend .grid__item--1-2;

      .views-field-field-image {
        margin-bottom: 20px;
      }
    }
  }
}

.node--type-landing-page.node_417 {

  .navbar-we-mega-menu {
    .we-mega-menu-ul.nav-tabs > li > a,
    .we-mega-menu-ul.nav-tabs > li > a:focus,
    .we-mega-menu-ul.nav-tabs > li > a:hover {
      color: #fff;
    }
  }

  .l-header .language-switcher-language-url a {
    color: #fff;
  }

  .l-header #block-headeractions .mail, .l-header #block-headeractions .weather,
  .l-header #block-headeractions .phone {
    color: #fff;
  }

}

.l-mobile-menu {
  display: none;
}
